<!DOCTYPE html>
<html>
<head>
  <title>Payment</title>
</head>
<body>

      <h1>Payment = <%= @pmt  %></h1>
      <h1>Rate =    <%= @rate %></h1>
      <h1>Term =    <%= @nper %></h1>
      <h1>Amount =  <%= @pv   %></h1>


</body>
</html>
