<!DOCTYPE html>
<html>
<head>
  <title>random</title>
</head>
<body>

      <h1>A random number between</h1>
      <h1 style="color:blue"><%= @low %></h1>
      <h1>and</h1>
      <h1 style="color:blue"><%= @hi %></h1>
      <h1>is</h1>
      <h1 style="color:blue"><%= @random %></h1>


</body>
</html>
