<!DOCTYPE html>
<html>
<head>
  <title>square_root</title>
</head>
<body>

      <h1>The squre root of </h1>
      <h1 style="color:blue"><%= @user_number %></h1>
      <h1>is</h1>
      <h1 style="color:blue"><%= @user_sqrt %></h1>

</body>
</html>
